# Ignore node modules and Yarn files
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Ignore test coverage reports
/coverage

# Ignore Next.js build outputs
/.next/
/out/

# Ignore production build output
/build

# Ignore miscellaneous system files
.DS_Store
*.pem

# Ignore debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore local environment files (sensitive data)
/.env*.local

# Ignore Vercel deployment files
.vercel

# Ignore TypeScript build files
*.tsbuildinfo
next-env.d.ts

